body{
    background-image: url("images/israel-sundseth-BYu8ITUWMfc-unsplash.jpg");
    /* Photo by Israel Sundseth on Unsplash */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.welcome-p{
    color: white;
    box-shadow: 10px 10px 5px #202020;

}
.container{
    padding-left: 5%;
}